.titulo-ubi {
    color: white;
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
.maps {
    border-radius: 30px; 
    width: 800px;
    right: 30px;
    top: 180px;
}

.horario {
    color: white;
    font-size: 18px;
    display: inline-block;
    border: solid black 2px;
    display: inline-block;
    padding: 10px 20px 10px 20px;
    border-radius: 30px;
}